---
# Uncomment and fill this YML file

#aws_access_key: XXX
#aws_secret_key: XXX
#aws_keypair: XXX
#aws_owner: XXX


#fmr_corp_id: XXX
#fmr_api_key: XXX
#fmr_ssh_pass: XXX
#fmr_docker_registry: XXX
#fmr_domain: XXX
#fmr_docker_registry_username: XXX
#fmr_docker_registry_password: XXX
#fmr_docker_registry_email: XXX