[ req ]
default_bits	= 4096
default_keyfile = privkey.pem
distinguished_name	= req_distinguished_name
x509_extensions	= v3_ca
default_md = sha1
string_mask = nombstr
req_extensions = v3_req
prompt = no

[req_distinguished_name]
countryName = "{{ certificate_country}}"
stateOrProvinceName = "{{ certificate_state }}"
localityName = "{{ certificate_locality }}"
organizationalUnitName	= "{{ certificate_ou }}"

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth,serverAuth
subjectKeyIdentifier = hash
subjectAltName = @alt_names

[ v3_ca ]
subjectKeyIdentifier	= hash
authorityKeyIdentifier	= keyid:always,issuer:always
basicConstraints = CA:true

[ crl_ext ]
authorityKeyIdentifier=keyid:always

[ alt_names ]
DNS.1 = {{ master_lb }}
{% for item in groups.swarm_masters %}
DNS.{{ (loop.index|int) + 1 }} = {{ item }}
{% endfor %}


